<template name="preferences">
	<form class="create_update" id='themes'>
		<div class="form-group">
			<label class="control-label" for="theme">Theme</label>
			<div class="controls">
				<select name="theme" id="theme">
					<option value="" selected disabled>--Select a theme--</option>
					<option value='default-theme'>default</option>
					<option value='blue-theme'>The Blues</option>
					<option value='yellow-theme'>Sunny</option>
				</select>
			</div>
		</div>
	</form>
	<div class="clear"></div>
</template>