body {
	background: #eeeeee;
	color: #666666;
}

header 	ul {
    list-style-type: none;
}

header li{
	list-style-type:none;
}

.container > .navbar-header{
	height:50px;
	overflow: hidden;
}

.dropdown-menu{
	left: -206px;
}

.main {
	border-radius: 1px;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.01);
}

.main .btn{
	margin-top:-6px;
}

.line{
	min-height: 24px;
	padding-top: 12px;
}

#login-buttons{
	padding:15px;
}

#login-buttons a{
	text-decoration: none;
}

.create_update input, .create_update select{
	width:240px;
	height:32px;
}

.create_update input[type="submit"]{
	border:1px solid #999;
}

