<template name="header">
	<header class="navbar navbar-default">
		<nav class="container" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="/" >notis</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
	        <ul class="nav navbar-nav navbar-right">
	            {{> loginButtons}}
	        </ul>
		        <ul class="nav navbar-nav">
		            <li class=""><a href="/placeholder1">placeholder1</a></li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right">
					<li class=""><a href="/preferences"><i class="fa fa-cog"></i></a></li>
		        </ul>
		        <ul class="nav navbar-nav">
 				{{#if currentUser}}
					<li class="{{activeRouteClass 'new_list'}}"><a href="{{pathFor 'listNew'}}" class="listNew">New List</a></li>
				{{/if}}

		        </ul>
			</div>
		</nav>
	</header>
</template>