<template name="listNew">
	<form>
		<div class="form-group">
			<label class="control-label" for="name">Name Your List</label>
			<div class="controls">
				<input name="name" type="text" value="" placeholder="i.e. project checklist, groceries, meetings">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" for="type">List's Type</label>
			<div class="controls">
				<select name="type">
					<option value="" selected disabled></option>
					<option value="basic">basic</option>
					<option value="ordered">orderable</option>
					<option value="dated">dates/times</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn" />
			</div>
		</div>
	</form>
</template>